<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Info sobre el Taunus</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			{{> header}}

		<!-- Nav -->
			{{> navbar}}

		<!-- Main -->
			<div id="main" class="container">

				<!-- Content -->
					<div class="row">
						<div class="">
							<h3>Taunus Coupé</h3>
							<p>El Ford Taunus fue un coche fabricado por Ford Motor Company en Alemania durante las décadas de los años 30s hasta los años 80s inclusive. Fue vendido en varios países de Europa. Los modelos de 1970 en adelante se construyeron con la misma construcción básica que el Ford Cortina Mk III en el Reino Unido, y más tarde los dos modelos de automóviles fueron esencialmente los mismos, difiriendo casi solo en la colocación del volante. La línea del modelo lleva el nombre de la cordillera de Taunus en Alemania y se fabricó por primera vez en 1939 y continuó a través de varias versiones hasta 1994. Este automóvil se vendió brevemente en México a principios de la década de los años 60s siendo su último año en 1962. A lo largo del tiempo, fue fabricandose por varios otros, como por ejemplo, Argentina o Turquía, donde el modelo evolucionó hasta 1994.
                            </p>
						</div>
						<div class="row 50% uniform">
								<p><span class="image left"><img src="images/pic03.jpg" alt="" /></span>Los primeros Taunus se vendieron en el país a finales de la década de 1950-(1957) y hasta 1962, cuando se cerraron las importaciones, quedaron fuera del mercado. Hubo que esperar algo más de una década para la vuelta al mercado argentino, en este caso con el TC1. El Ford Taunus regresó en la década de 1970 a la Argentina y fue fabricado entre 1974 y 1984, como la respuesta de Ford a la crisis energética que azotaba al mundo por aquel entonces. Su aparición fue la apuesta de la marca del óvalo para hacer frente a esta crisis, sin descuidar la producción nacional de Argentina de los coches grandes, a partir de 1970, como el Falcon o el Ford Fairlane. Fue también el auto que inauguró la tendencia de esta marca a reemplazar los modelos norteamericanos por modelos de origen europeo.
                                Es un coche muy querido por la afición y los simpatizantes del óvalo, ya que sus prestaciones en comodidad y confort de marcha nada tenían que envidiarle a las del Ford Falcon. Además, su performance lo hacía comparar tanto con los coches de su segmento (Peugeot 504, Dodge 1500, Opel K-180), como con los del segmento superior (Coupé Chevy, Ford Falcon, Torino).
                                La versión "L" era la más económica, con menor equipamiento y performance. La versión "GXL" traía un recubrimiento vinílico en el techo, faros redondos integrados en la parrilla, llantas cromadas y baguetas laterales junto a tapizados e interiores más elegantes que le daban un aspecto más distinguido, con la posibilidad de contar con aire acondicionado y transmisión automática. La coupé GT combinaba el equipamiento y la performance de la versión GXL con el aspecto deportivo de su carrocería fastback. Posteriormente fueron evolucionando estos modelos, manteniendo el concepto de tres versiones, aunque la coupé tuvo una gran aceptación (en rivalidad con la Renault Fuego) llegando a desarrollarse la versión SP (con carrocería combinada en dos colores), y luego la SP56​ con 132 HP, que fueron durante años el objeto de deseo de los argentinos. La coupé SP5 incorporaba como principal cambio una nueva caja de velocidades de 5 marchas, nunca antes vista en ningún Ford argentino.7​La línea Taunus fue reemplazada en 1984 por el Ford Sierra.</p>
								<p><span class="image right"><img src="images/pic04.jpg" alt="" /></span>A comienzos de la década de los 70 se inició una expansión en las fronteras del mercado argentino. Es así como se inicia a partir de ese entonces un predominio por parte de las marcas europeas, que comenzaban a comercializar-importar vehículos de pequeño y mediano porte. Esto provocaba una merma en las ventas de las marcas estadounidenses que estaban emparentadas con la producción y/o comercialización de coches de gran porte.

                                Ford Motor, General Motors y Chrysler, eran estas marcas. De hecho, sólo la tercera se anticipó a las demás presentando el Dodge 1500. Los otros autos que dominaban el mercado eran los Peugeot 404 y 504, el Fiat 1500, Fiat 1600 y Fiat 125 y el Renault 12.

                                Fue así que Ford tenía pensado hacer su incursión en este segmento, pero para poder lograrlo necesitaba decidirse por un modelo de los tres que estaban en carpeta. Estos eran el Ford Maverick, el Ford Escort y el Ford Taunus.

                                El primero se pensó para reemplazar al Ford Falcon. Sin embargo, fue fabricado en Estados Unidos con carrocería cupé y solo tardíamente se agregó la opción 4 puertas. Finalmente, este coche fue fabricado en Brasil, con múltiples adaptaciones a ese mercado.

                                El segundo, era un coche inglés que descendía de los pequeños modelos Taunus de los 60. Sin embargo, este auto era considerado muy pequeño para los usuarios y para lo que Ford tenía en mente. Finalmente, algunas unidades de este coche fueron fabricadas en Uruguay.

                                Finalmente, el elegido para la producción fue el Taunus, quien con su diseño, tamaño y diversidad de carrocería, daba inicio a la tendencia de Ford de fabricar coches de origen europeo. El mismo, era el modelo llamado en Europa Taunus TC (por Taunus- Cortina), pero era más similar al modelo alemán, que al modelo Cortina inglés. Fue así que este auto se llegó a ensamblar en la planta de Ford en la localidad bonaerense de General Pacheco en dos de sus tres opciones de carrocería: La berlina de cuatro puertas y la cupé fastback.

                                Los Taunus argentinos serían fabricados en un principio sólo en 2 versiones de cuatro puertas, L para el base y GXL para el más lujoso, utilizando estas siglas al igual que los modelos originales europeos. El 3 de junio de 1974, se produjo la primera unidad Taunus siendo este un modelo L. A partir de esta fecha las unidades de producción se usaron como prototipo para mejorar y adaptar los futuros autos con promesa de lanzamiento en septiembre. Finalmente, el 24 de septiembre de 1974, fue lanzado el nuevo coche bajo el eslogan "El chico de Ford". Fue el primer Ford fabricado en la Argentina, con motor de 4 cilindros originario de Europa, que iniciaba la nueva tendencia de la marca en el país.1​


                                Última generación del Ford Taunus alemán fabricado por Ford en Europa a partir de 1981.
                                Originalmente su motor iba tener una concepción similar a la de su rival de segmento, el Opel K-180. Es decir, se pensó diseñar el motor teniendo como base al motor 221 del Ford Falcon, al cual se le iban a recortar 2 de sus 6 cilindros. Sin embargo, pronto este proyecto quedó de lado, luego de que surgiese la posibilidad de producir los motores de 4 cilindros que fueran desarrollados en la fábrica de Ford en Estados Unidos. Estos motores, a pesar de ser similares a los europeos, eran mucho más pesados, por lo que el Taunus nacional requirió un recambio total en su tren delantero y en la distribución de pesos. Finalmente, el diseño elegido fue el denominado en Europa como TC2, evolución del original TC1.

                                El 30 de enero de 1975 se presentó la Coupé Taunus, la versión deportiva del modelo. Este modelo completaba las opciones de carrocería que presentaba el Taunus, ya que nunca fue comercializada en Argentina la versión Familiar. Inicialmente la coupé fue vendida en su versión GT y fue la primera cupé fabricada por Ford en el país. Entre su equipamiento opcional, se hallaba disponible con caja automática o también con techo vinílico.</p>
	</body>
</html>