<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Info sobre el Torino</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			{{> header}}

		<!-- Nav -->
			{{> navbar}}

		<!-- Main -->
			<div id="main" class="container">

				<!-- Content -->
					<div class="row">
						<div class="">
							<h3>Peugeot Torino</h3>
							<p>El Torino 380W es un automóvil de turismo del segmento E, fabricado en Argentina por la montadora Industrias Kaiser Argentina en la década del '60. Este automóvil es una versión del modelo IKA Torino, el cual fue presentado en su momento como la versión más poderosa de la gama.
                            </p>
						</div>
						<div class="row 50% uniform">
								<p><span class="image left"><img src="images/torino1.jpg" alt="" /></span>El 380 W fue presentado a finales de 1966 siendo una coupé de chasis autoportante, que presentaba la particularidad de estar equipada con tres carburadores Weber doble boca de 45 mm de diámetro cada uno, los cuales estaban dispuestos en fila y acoplados directamente al motor sin necesidad del uso de un múltiple de admisión. Este equipamiento le brindaba al vehículo la capacidad de ejercer una potencia de 176 HP, alcanzando una velocidad máxima de casi 200 km/h con un consumo a 100 km/h de 7  km/litro , aunque al mismo tiempo presentó algunas controversias sobre la fiabilidad del uso de los mismos y sobre su consumo, en una época en la que comenzaba a sucederse una fuerte crisis en el sector energético. Su motor era un seis cilindros en línea Tornado Superpower de 230 pulgadas cúbicas (3770 cm3) y cuatro bancadas.</p>
								<p><span class="image right"><img src="images/torino2.jpg" alt="" /></span>Fue fabricado hasta el año 1970 cuando fue reemplazado por el Torino GS, modelo que más allá de continuar con la filosofía de estar equipado con el sistema de alimentación de tres carburadores, recibió un rediseño en la parte estética y fue dotado de nuevas mejoras que aumentaron sus prestaciones, al punto de alcanzar los 215 HP de potencia y superar la barrera de los 200 km/h.
Tras haber sido lanzada con éxito la línea Rambler en Argentina, desde Industrias Kaiser Argentina se buscó la forma de ofrecer al público un modelo más accesible y que despierte interés principalmente en el público joven. Con sus más de 5 metros de longitud, el Rambler Classic resultaba ser un coche que distaba mucho del gusto juvenil y parecía más apuntado hacia un público con mayor poder adquisitivo. Por otra parte, la intención de participar en carreras de automovilismo como medio para publicitar sus productos también comenzó a dar vueltas en los planes de la Kaiser Argentina, sin embargo las enormes dimensiones del Rambler, sumado a su ya añejo motor Continental 226 lo alejaban del ideal de la empresa para llevar a cabo el proyecto, por lo que se comenzó con la búsqueda de un nuevo modelo que reúna tales condiciones.

La respuesta llegó con el lanzamiento el 26 de octubre de 1966 del IKA Torino, modelo que fuera desarrollado a partir del estadounidense Rambler American y al cual se lo dotó de un trabajo de rediseño a cargo del carrocero italiano Pininfarina.3​ Si bien inicialmente este automóvil fue presentado en su versión Torino 300 con carrocería sedán, no pasó mucho tiempo para ser presentada la versión buscada por IKA para incursionar en el automovilismo, ya que el 3 de noviembre de ese mismo año fue presentado el Torino 380, un nuevo modelo que además de estrenar la gama coupé del Torino, llegaba equipado con un impulsor Tornado Superpower de 3770 cm³ con árbol de levas a la cabeza, una rareza mecánica de aquellas épocas ya que las automotrices especialistas en esa clase de motores los fabricaban con árbol de levas lateral y accionamiento de válvulas a través de varillas.4​

A primera impresión, el Torino 380 sorprendía por sus prestaciones, sin embargo IKA-Renault se propuso agregarle un plus a sus impulsores a fin de generar una versión que supere lo conocido. Fue la génesis del Torino 380W.
</p>
	</body>
</html>