<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Info sobre la Chevy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			{{> header}}

		<!-- Nav -->
			{{> navbar}}

		<!-- Main -->
			<div id="main" class="container">

				<!-- Content -->
					<div class="row">
						<div class="">
							<h3>Chevrolet C10</h3>
							<p>La Chevrolet C-10 es una camioneta pickup grande de la marca estadounidense Chevrolet, lanzada al mercado para competir con la Ford F-100 y la Dodge D series, y que se comercializó desde 1960 hasta 1999 en los América del Norte, y de 1960 a 2001 en América del Sur.
                            </p>
						</div>
						<div class="row 50% uniform">
								<p><span class="image left"><img src="images/c101.jpg" alt="" /></span> La primera camioneta Chevrolet apareció en 1924, aunque el diseño propio de Chevrolet no apareció hasta 1930. "C" denota dos ruedas motrices, mientras que "K" denota tracción en las cuatro ruedas. La camioneta de trabajo ligero C/K fue sustituido por la Chevrolet Silverado y la GMC Sierra en 1999 en los EE.UU. y Canadá, 2000 en México y 2001 en Brasil. La Chevrolet Silverado HD y GMC Sierra HD (Heavy Duty) son camionetas de trabajo pesado introducidas en el 2001. La primera generación: El modelo del año 1960 introdujo un nuevo estilo de la carrocería de la camioneta pick-up que contó con muchas novedades. El más importante de estos eran un marco de la escalera desplegable central, permitiendo que la cabina se siente inferior, y la suspensión delantera independiente, dando un paseo en coche de casi-como en un camión. Otra de las novedades para el 1960 fue un nuevo sistema de designación de los camiones fabricados por GM. Credencialización real de los camiones todavía llevaba el sistema de nombre de la serie de la generación anterior C-10. El techo de la cabina utiliza construcción de doble pared de acero a diferencia de los otros fabricantes de automóviles que utilizan un único techo de acero. En algunos países se comercializó con el nombre de Chevrolet C-10 Apache.</p>
								<p><span class="image right"><img src="images/c102.jpg" alt="" /></span> Fue el primer vehículo de la marca Chevrolet ensamblado en Argentina con piezas nacionales. En ese entonces, las automotrices aún importaban vehículos o bien importaban sus piezas para su posterior ensamblado. La Apache era una camioneta con apariencia robusta y de un diseño altamente agresivo, que fue mutando poco a poco durante tres períodos.

                            Un parabrisas ancho, que se extendía más allá de los ángulos laterales de la cabina, las puertas que se extendían por debajo de los parantes del parabrisas, una sección afilada que recorría desde la punta de su trompa, hasta el final de su cabina y unos enormes faros sobre el capó de la camioneta, hacían notar su estilo de diseño de la época. Remataba todo esto con una caja de cargas angosta, con los guardabarros sobresalientes a sus costados y estribos para facilitar el acceso a la misma o para facilitar el elevamiento de carga en el vehículo. A esta caja angosta, se le sumó en 1963, la opcional de caja ancha, prolongando está el diseño de la sección afilada de la cabina y ofreciendo mayor espacio de carga.

                            1966 Chevrolet C10 pickup truck (9581019245).jpg
                            La segunda Apache, fue presentada en 1965 y sufrió un fuerte restyling que la hizo tomar un diseño más moderno. Su parabrisas fue reducido en tamaño, haciendo a las puertas ganar más espacio hasta los ángulos laterales de la cabina y pasando a adoptar nuevos parantes. También, desaparecieron los faros del capó, recibiendo este un alisado en su frente con una pequeña pendiente en la punta. Sin embargo, aún mantenía pero en menor medida, su sección afilada, como así también sus opcionales de caja ancha y caja angosta de carga.

                            En cuanto a su motorización, fue presentada utilizando motores nafteros Chevrolet Trifmaster "230" de 3.860 cm³, con 126 HP de potencia y 6 cilindros en línea. En 1963 fue presentada una versión diésel con motor 3285 cm³, 64 HP y 4 cilindros en línea y cigüeñal de 4 apoyos o bancadas. Y en 1965, fue presentado el primer modelo con motor Chevrolet "230" de 3769 cm³, 127 HP y 6 cilindros en línea. Todos los modelos, estaban acoplados a una caja manual de 3 velocidades con palanca al volante.
                            En 1967, fue presentada la segunda generación de la Chevrolet C-10. La misma fue conocida por el público con el apodo de Brava, ya que su comercial de presentación, mostraba a un hombre que se despedía de su novia que hacía un viaje en tren. Al percatarse este hombre que ella se olvidó su cartera, comenzó una persecución al tren a bordo de su camioneta, por caminos sumamente complicados e intransitables, mientras el locutor relataba las bondades que presentaba la camioneta. Al final del comercial, luego de que la camioneta diese alcance al tren en la siguiente estación, aparece escrita la frase ¡Brava! ocupando toda la pantalla.

                            1970 Chevrolet C10 Fleetside
                            Esta nueva generación de la C-10 presentaba un estilo de diseño más rectilíneo y alisado que la anterior. De hecho, ya no presentaba las enormes aletas características de los modelos de Chevrolet de los años '60. Lo único que conservaba del modelo anterior, era la doble opción de caja ancha o angosta. Otra de sus variaciones durante el paso de los años, fueron las diferentes modificaciones que la Brava recibió en su parrilla. De 1967 a 1968, la parrilla se dividía en dos por un larguero transversal donde se alojaba el logotipo de Chevrolet en el medio de la misma. De 1969 a 1970, la parrilla fue agrandada, pasando a llevar portafaros rectangulares más grandes, manteniendo el larguero transversal de aluminio, donde ahora figuraba el nombre Chevrolet, mientras que el logo bowtie fue reubicado en la punta del capó. Remataba todo con un rebordeo de aluminio a toda la parrilla. Finalmente de 1971 a 1972, la nueva parrilla de la Brava era una sola pieza en forma de rejilla manteniendo el rebordeo exterior de aluminio y los portafaros rectangulares. El logotipo de Chevrolet retomó su posición anterior en el centro de la parrilla.

                            En cuanto a su diseño de cabina, la nueva Brava presentó un diseño acorde a los tiempos. Con líneas rectangulares y un capó que sobresalía de la trompa, en forma de trapecio de atrás hacia adelante, dejando notar los guardabarros delanteros, le daba a la Brava una moderna concepción en diseño, listo y preparado para competir contra las nuevas generaciones de sus eventuales rivales: La Ford F-100 y la Dodge D-100.

                            1970 Chevrolet C10
                            En cuanto a sus motorizaciones, la nueva Brava fue la que estrenó los nuevos motores denominados Chevrolet "230" de 130 HP, 6 cilindros en línea y 3.8 litros de cilindrada, una segunda generación más potente y moderna del anticuado Trifmaster "230" de 126 HP que equipaba a la Apache. Como opcional, equipó también el nuevo y más poderoso motor Chevrolet "250" de 145 HP, 6 cilindros, 7 bancadas y 4.1 litros de cilindrada, estrenado en 1968 con el Chevrolet 400, pero que jamás equipó a la antigua Apache. Movía toda esta planta motriz, una caja manual de 3 velocidades con palanca al volante. Una novedad tecnológica, traída por la Brava, fua la aparición del diferencial autoblocante Posi-Trac, el cual permitía a la camioneta traccionar cuando una de las ruedas quedaba girando en falso, accionando automáticamente el Posi-Trac y permitiendo una tracción mejor.</p>
</p>
	</body>
</html>